
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 92%;
    max-width: 1440px;
    margin: 0 auto;
}

/* Header Styles */
header {
    position: fixed;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.6);
    color: #fff;
    padding: 0.5rem 0;
    z-index: 10;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .logo img {
    max-height: 3rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

nav ul li a {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: white;
    

}

nav ul li a:hover {
    background-color: #555;
    color: #e67e22;
    border-color: 2px solid #e67e22;
}

/* Landing Page Styles */
#landing-page {
    position: relative;
    height: 38rem;
    
}

.background-image {
    background-image: url("Images/bastian.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.hero-text {
    position: relative;
    z-index: 3;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 38rem;
}

.hero-text h2 {
    font-size: 2.5rem;
}

.hero-text span {
    color: #e67e22;
}

.hero-text p {
    font-size: 1.2rem;
}

.hero-text .btn {
    padding: 0.7rem 1rem;
    background-color: #e67e22;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 19rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.hero-text .btn:hover {
    background-color: #d35400;
}

/* Menu Section */
#menu {
    background-color: #fff;
    padding: 4rem 0;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 2rem;
}

.menu-categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-category {
    flex: 1;
    max-width: 38rem;
    margin: 1rem;
    text-align: center;
}

.menu-category h3 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #e67e22;
}

.menu-item {
    text-align: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s;
    
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.menu-item:hover {
    transform: translateY(-10px);
}

.menu-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.menu-info {
    color: #333;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-info .item-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.menu-info .item-description {
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.menu-info .item-price {
    font-size: 1rem;
    color: #e67e22;
    margin-bottom: 0.5rem;
}

.menu-info .order-btn {
    width: 100%;
    height: 40px;
    border: none;
    color: white;
    background-color: #e67e22;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-info .order-btn:hover {
    background-color: #d35400;
}

/* About Section */
#about {
    background-color: #f4f4f4;
    padding: 4rem 0;
}

.about-content {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    max-width: 1200px; 
    margin: 0 auto;
}

.about-image {
    width: 40%; 
    /* max-height: 300px; */
    max-height: 22rem;
    border-radius: 10px;
    margin-right: 2rem; 
    object-fit: cover;
}

.about-text {
    width: 55%; 
    text-align: left; 
}

.about-text h2 {
    font-size: 2.5rem; 
    margin-bottom: 1rem; 
    color: #e67e22; 
}

.about-text p {
    font-size: 1rem; 
    line-height: 1.6;
    color: #555; 
    margin-bottom: 1.5rem;
 }


/* Customer Reviews Section */
#reviews {
    padding: 4rem 0;
}

.reviews-title {
    text-align: center; 
    font-size: 2rem; 
    font-weight: bold; 
    margin-bottom: 2rem; 
}

/* Review Section */
.review_box {
    width: 95%;
    margin: 0 auto; 
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
}

.review_card {
    width: 20rem; 
    height: 18rem; 
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 8px 20px;
    margin: 15px; 
}

.review_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}

.review_profile img {
    width: 100px;
    height: 100px; 
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #cccccc;
}

.review_text {
    text-align: center;
}

.review_text .name {
    color: #000;
}

.review_icon {
    color: #fac031;
}

.review_text p {
    text-align: center;
    line-height: 22px;
}

/* Adding hover effects */
.review_card:hover .review_profile {
    transform: translateY(-60px);
}

.review_card:hover .review_text .name {
    transform: translateY(-50px);
}

.review_card:hover .review_text p {
    margin-top: 5px;
}

/* our speciality--------- */
.gallery {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: #fff;
}

.gallery h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

.gallery h1 span {
    color:#e67e22;
    margin-left: 10px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-item {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #000;
    position: relative;
    
    border-radius: 8px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.gallery-item h3 {
    position: absolute;
    top: 40px;
    left: 152px;
    font-size: 24px;
    color: #e67e22;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item p {
    position: absolute;
    bottom: 100px;
    left: 20px;
    right: 20px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e67e22;
    color: #000;
    padding: 8px 20px;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 4px;
}

.gallery-item:hover img {
    opacity: 0.3;
}

.gallery-item:hover h3,
.gallery-item:hover p,
.gallery-item:hover .gallery-btn {
    opacity: 1;
}

.gallery-item:hover .gallery-btn {
    transform: translateX(-50%) translateY(-10px);
}

/* our team------ */
.team {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: #fff;
}

.team h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.team h1 span {
    color: #e67e22;
    margin-left: 10px;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.team-card {
    width: 350px;
    height: 350px;
    perspective: 1000px; 
}

.team-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d; 
}

.team-card:hover .team-card-inner {
    transform: rotateY(180deg); 
}

.team-card-front,
.team-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    border-radius: 50%;
    overflow: hidden;
}

.team-card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

.team-card-front img {
    width: 100%;
    height: auto;
    border-radius: 50%; 
}

.team-card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #e67e22;
    color: #000;
    text-align: center;
    padding: 20px;
    transform: rotateY(180deg); 
}

.team-card-back h1 {
    font-size: 2rem;
    margin: 0;
}

.team-card-back p {
    font-size: 1rem;
    margin-top: 10px;
}

/* Contact Section */
#contact {
    padding: 4rem 0;
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("Images/bastian2.jpg"); 
    background-size: cover;
    background-position: center;
    filter: blur(2px); 
    opacity: 1;
    z-index: 1;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.contact-form, .contact-info {
    width: 48%;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 2rem;
    border-radius: 10px;
    color: white;
}


.contact-form {
    margin-right: 2%;
}

.contact-form h2, .contact-info h2, .contact-info h3 {
    color: #e67e22;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #bcb7b7;
    
}

.contact-form button {
    margin-top: 1rem;
    padding: 0.7rem;
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #d35400;
}

.contact-info p, .contact-info a {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.contact-info a {
    color: #e67e22;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-info h2, .contact-info p {
    text-align: left;
}

/* Footer Section */
footer {
    background-color: #333;
    color: white;
    padding: 2rem 0;
    position: relative;
    z-index: 10;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem; 
}

.footer-links,
.footer-contact,
.footer-social,
.footer-logo {
    flex: 1;
    min-width: 220px; 
    margin: 1rem;
}

.footer-links h3,
.footer-contact h3,
.footer-social h3,
.footer-logo {
    margin-bottom: 1rem;
    color: #e67e22; 
}

.footer-social{
    padding-left: 8rem;
}
.footer-logo-img{
    height: 8rem;
    width: 8rem;
    margin-top: 2.4rem;
    border: 2px solid #e67e22;
    border-radius: 50% ;
}
.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 0.5rem; 
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #e67e22;
 }

.footer-social .social-icons {
    display: flex;
    gap: 1.8rem; 
    font-size: 2rem;
}

 footer .footer-social .facebook-logo:hover,
 footer .footer-social .insta-logo:hover,
 footer .footer-social .twitter-logo:hover:hover
 {
    color: #e67e22;
 }


.footer-bottom {
    text-align: center;
    padding: 1rem 0;
    background-color: #444; 
    margin-top: 1rem;
}

.footer-bottom p {
    margin: 0;
}
